.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  height: 90vh;
}

.memory-card {
  position: relative;
  max-width: 200px;
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

.is-flipped {
  transform: rotateY(180deg);
}

.memory-card-inner {
  position: relative;
  transform-style: preserve-3d;
  transition: 0.5s ease;
  width: 200px;
  height: 200px;
}

.match-count-container {
  font-family: "Cinzel Decorative", bold;
  display: flex;
  margin: 0 0 0 700px;
  align-items: center;
  justify-content: space-evenly;
  width: 20%;
}

.congratulations-message {
  font-family: "Cinzel Decorative", bold;
  font-size: 36px;
  text-align: justify;
  margin: 0 0 0 750px;
}

@media screen {
}
